.main-content {
    padding: 30px;
    padding-left: 100px;
    background: #ddd6f31e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca817, #ddd6f31e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca817, #ddd6f31e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}