$pink-color: #dab2d9;
$light-pink-color: #eae3f2;
$brown-color: #eac49f;
$purple-color: #373852;
$light-purple-color: #87728c;
$grey-base-color:#9c9eac;
$more-purple-color: #a9b2dc;
$blue-base-color: #aeceee;

.journalist-card {
    padding: 30px;
    border-radius: 10px;
    border:1px solid transparent !important;
    cursor: pointer;
    margin-top: unset;
    transition: margin-top ease 0.3s;


    &:hover{
        margin-top: 10px;
    }
    
    .card-head {
        display: flex;
        align-items: center;
    }
    .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 30px;
    }
    .journalist-identity {
        text-align: left;
        i { color: #0dcaf0; }
    }
    .journalist-agency {
        font-weight: 900;
    }

    .card-body {
        text-align: left;
        padding: 20px 0;
        font-size: 0.95rem;
    }
    .topic-tags-list {
        margin-top: 20px;
    }
    .topic-tag {
        display: inline-block;
        background-color: transparent;
        width: auto;
        padding: 4px 15px;
        margin-left: 15px;
        border: 1px solid #21252966;
        color: #212529;
        border-radius: 10px;
        font-weight: 400;
        font-size: 0.9em;

        &:first-child {
            margin-left: 0 !important;
        }
    }

    

    .btn i {
        display: inline-block;
    }

    .container-btn-actions {
        display: flex;
        justify-content: space-between;
    }
}